@model FoodZone.Models.TipoLocal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TipoLocal</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoLocal_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoLocal_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoLocal_Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoLocal_Activo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TipoLocal_Codigo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
