@model FoodZone.Models.Local

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Local</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Local_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Local_Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local_Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Local_Resena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local_Resena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Local_Latitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local_Latitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Local_Longitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local_Longitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Local_Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local_Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Local_ManoArriba)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local_ManoArriba)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Local_ManoAbajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local_ManoAbajo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Local_Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local_Foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Local_FechaIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local_FechaIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoLocal.TipoLocal_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoLocal.TipoLocal_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Usuari_NombreCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Usuari_NombreCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zona.Zona_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zona.Zona_Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Local_Codigo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
