@model IEnumerable<FoodZone.Models.Zona>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Zona_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zona_Longitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zona_Latitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zona_Acitvo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Zona_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zona_Longitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zona_Latitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zona_Acitvo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Zona_Codigo }) |
            @Html.ActionLink("Details", "Details", new { id=item.Zona_Codigo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Zona_Codigo })
        </td>
    </tr>
}

</table>
